<<<<<<< HEAD
.introduce{
=======
.introduce {
>>>>>>> 10f2328dd3fa9fb9583082fdb5d2578632a4a438
    display: flex;
    align-items: center;
    padding: 20px;
}

.introduce__image {
<<<<<<< HEAD
    padding-left: 10vw;
=======
    padding-right: 10vw;
    /* 左側に配置するためにpadding-rightに変更 */
>>>>>>> 10f2328dd3fa9fb9583082fdb5d2578632a4a438
    flex: 0 0 40%;
    text-align: center;
    order: 1;
    /* 画像を右側に移動 */
}

.introduce__image img {
    max-width: 60%;
    height: auto;
}

.introduce__description {
    text-align: left;
    padding-right: calc(5% + 5vw);
    padding-left: calc(5% - 5vw);
    order: 0;
    /* 説明文を左側に移動 */
}

.introduce__description h2 {
<<<<<<< HEAD
    padding-right: 0%;
=======
    padding-right: 5%;
>>>>>>> 10f2328dd3fa9fb9583082fdb5d2578632a4a438
    padding-bottom: 0;
    margin-top: 0;
    font-size: 2.6vw;
}

.introduce__description p {
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2vw;
}