/* ScrollText.css */
.scroll-text {
    position: relative;
    top: 50%;
    /* 左端から開始 */
    transform: translate(0, -50%);
    font-size: 2.5vw;
    font-weight: light;
    overflow: hidden;
    /* white-space: nowrap; */
    /* 改行を禁止するスタイルを解除 */
    overflow-wrap: break-word;
    /* テキストがウィンドウに収まらない場合に改行する */
    padding: auto;
    opacity: 0;
    transition: opacity 1s ease;
    /* テキストが表示されるときにフェードインするように設定 */
}

.scroll-text.scroll-started {
    opacity: 1;
}

.scroll-text.mobile {
    font-size: 6vw;
    /* モバイル端末向けのフォントサイズ */
}

.scroll-text-parent {
    position: relative;
    width: max-content;
    height: 13vw;
    margin: 0 auto;
}