.news {
    display: flex;
    align-items: center;
    padding: 20px;
}


.news__image {
    padding-right: 4vw;
    /* 左側に配置するためにpadding-rightに変更 */
    flex: 0 0 35%;
    text-align: center;
    order: 1;
    /* 画像を右側に移動 */
}


.news__image img {
    max-width: 60%;
    padding-right: 3vw;
    height: auto;
}


.news__description {
    padding-right: calc(5% - 8vw);
    padding-left: calc(0% + 13vw);
    order: 0;
}


.news__description h2 {
    text-align: center;
    padding-bottom: 0;
    margin-top: 0;
    font-size: 1.6vw;
}


.news__description p {
    text-align: left;
    margin-bottom: 0%;
    font-size: 1.1vw;
}


@media screen and (max-width: 1200px) {
    .news {
        display: block;
    }

    .news__image {
        width: 100%;
        order: 0;
        /* 写真を上部に移動 */
        flex: 0 0 100%;
        text-align: center;
        padding-right: 0;
    }

    .news__description {
        order: 1;
        padding: 6%;
    }

    .news__description h2 {
        font-size: 3.5vw;
    }

    .news__description p {
        font-size: 2.5vw;
    }
}