.news {
    display: flex;
    align-items: center;
    padding: 20px;
}


.news__image {
    padding-right: 4vw;
    max-width: 100%;
    /* 左側に配置するためにpadding-rightに変更 */
    flex: 0 0 35%;
    text-align: center;
    order: 1;
}


.news__image img {
    width: 80%;
    height: auto;
}


.news__description {
    padding-left: 10%;
    order: 0;
}


.news__description h2 {
    text-align: center;
    margin-top: 0;
    font-size: 1.8vw;
}


.news__description p {
    padding-right: 5%;
    text-align: left;
    margin-bottom: 0%;
    font-size: 1.4vw;
    color: gray;
}


@media screen and (max-width: 1200px) {
    .news {
        display: block;
    }

    .news__image {
        width: 90%;
        margin: 0 auto;
        /* 画像を中央に配置 */
        padding: 5% 0;
        /* 上下の余白を追加 */
    }

    .news__description {
        order: 1;
        padding-left: 5%;
        padding-right: 5%;
    }

    .news__description h2 {
        font-size: 4.3vw;
    }

    .news__description p {
        font-size: 2.8vw;
        padding-bottom: 5%;
    }
}